.div-transparent
  .text--dark-on-white
    .row
      .col-md-12
        %h3 Log in
        = form_tag(action: :attempt_login) do
          .row
            .notice= flash[:notice]
            .input-group.input-group-lg
              %span.input-group-addon
              = text_field_tag :username, nil, class: 'form-control', placeholder: 'Username'
            .input-group.input-group-lg
              %span.input-group-addon
              = password_field_tag :password, nil, class: 'form-control', placeholder: 'Password'
            %div.pull-right
              = submit_tag "&nbsp;&nbsp;&nbsp;&nbsp;Sign In&nbsp;&nbsp;&nbsp;&nbsp;".html_safe, class: 'btn btn-primary btn-lg'
