.section--container-top#section--carousel-no-bg
  -# %div{style: 'position: fixed; margin-top: -50px; background: #FFF; opacity: 0.5; height: 100%; width: 100%;'}
    fd
  .container

    .col-lg-3

      .dashboard--section-container
        .generic-image-container
          = image_tag @current_user.avatar? ? @current_user.avatar.url(:medium) : '//placehold.it/250/ffffff/dddddd', class: 'img-width-fit'

        #screencaster= @current_user.fullname
        %p= "Email: #{@current_user.email}"
        %p= "Username: #{@current_user.username}"
        %p= "Gender: #{@current_user.gender}"
        %p#screenshot-counter= "Screenshots created: #{@current_user.screenshots.count}"

    .col-lg-6

      .account-setting
        .dashboard--section-container
          %h4.text-center
            %strong Account Settings

          .account-setting--section-container
            #account-setting--user-info
              %h5.text-center
                %strong User Account Information
              = render partial: 'users/sub_form'

          .account-setting--section-container
            #account-setting--screenshots
              %h5.text-center
                %strong User Screenshots
              = render partial: 'screenshots/list'


    .col-lg-3
      .dashboard--section-container
        Advetisements

:javascript
  $('#hide_new_screenshot').hide();
