.section--container-top#section--carousel-no-bg
  -# %div{style: 'position: fixed; margin-top: -50px; background: #FFF; opacity: 0.5; height: 100%; width: 100%;'}
    fd
  .container

    .col-lg-3

      .dashboard--section-container
        .generic-image-container
          = image_tag @current_user.avatar? ? @current_user.avatar.url(:medium) : '//placehold.it/250/ffffff/dddddd', class: 'img-width-fit'

        #screencaster= @current_user.fullname
        %p= "Email: #{@current_user.email}"
        %p= "Username: #{@current_user.username}"
        %p= "Gender: #{@current_user.gender}"
        %p= "Screenshots created: #{@current_user.screenshots.count}"

    .col-lg-6

      .dashboard--section-container
        .dashboard--generic-menu
          = link_to "&times;".html_safe, '#', class: 'btn btn-default btn-xs', id: 'hide_new_screenshot', title: 'Screenshot gallery'
          = link_to "New Screenshot", new_screenshot_path, data: {remote: true}, class: 'btn btn-default btn-xs', id: 'new_screenshot', title: 'Create new screenshot'

      #user-screenshots
        - @current_user.ordered_screenshot_by_creation.each do |screenshot|
          .dashboard--section-container
            .screenshot-container
              #screenshot-image= image_tag screenshot.image.url, class: 'img-ctr'
              #screenshot-description
                = screenshot.description
                = social_share_button_tag(screenshot.description, url: screenshot_url(screenshot), image: screenshot.image.url, desc: screenshot.description)
              #screenshot-status
                = link_to "Like", '#'
                = "&nbsp;.&nbsp;".html_safe
                = link_to "Comment", '#'
                = "&nbsp;.&nbsp;".html_safe

                .pull-right= screenshot.created_at.to_formatted_s(:long)
    .col-lg-3
      .dashboard--section-container
        Advetisements

:javascript
  $('#hide_new_screenshot').hide();
