.section--container-top#section--carousel

  .container

    .col-md-5
      .text--white-on-dark
        %h1.text-title-generic.text-center
          %strong.text-with-shadow &nbsp;
        %h4.text-subtitle.text-center
          .text-light.text-with-shadow &nbsp;
      = render partial: 'login_form'
    .col-md-7
