.div-transparent
  .text--dark-on-white
    .row
      .col-md-12
        %h3.text-left New to ScreenShat? Sign Up!
        = form_for @user do |f|
          %div.text-left
            - if @user.errors.any?
              #error_explanation
                %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
                %ul
                  - @user.errors.full_messages.each do |msg|
                    %li= msg

          %div{class: 'input-group input-group-lg'}
            %span.input-group-addon
            = f.text_field :first_name, class: 'form-control', placeholder: 'Firstname'
          %div{class: 'input-group input-group-lg'}
            %span.input-group-addon
            = f.text_field :last_name, class: 'form-control', placeholder: 'Lastname'
          %div{class: 'input-group input-group-lg'}
            %span.input-group-addon
            = f.text_field :email, class: 'form-control', placeholder: 'Email'
          %div{class: 'input-group input-group-lg'}
            %span.input-group-addon
            = f.text_field :username, class: 'form-control', placeholder: 'Username'
          %div{class: 'input-group input-group-lg'}
            %span.input-group-addon
            = f.password_field :password, class: 'form-control', placeholder: 'Password'
          -# if session[:id].present?
          %div.text-left
            = f.label 'Profile picture (optional)'
            = f.file_field :avatar, class: 'form-control'
          .row
            .col-md-4
            .col-md-8=# image_tag @user.avatar.url
          %div.pull-right{class: 'btn-group'}
            = f.submit "Sign Up for ScreenShat!", class: 'btn btn-primary btn-lg signup-button'
