
= form_for @current_user, remote: true do |f|
  %table.img-width-fit
    %tr
      %td Firstname
      %td
        %div{class: 'input-group input-group'}
          %span.input-group-addon
          = f.text_field :first_name, class: 'form-control', placeholder: 'Firstname'
    %tr
      %td Lastname
      %td
        %div{class: 'input-group input-group'}
          %span.input-group-addon
          = f.text_field :last_name, class: 'form-control', placeholder: 'Lastname'
    %tr
      %td Gender
      %td
        %div{class: 'input-group input-group'}
          %span.input-group-addon
          = f.select :gender, %w{Male Female}, {}, class: 'form-control'
    %tr
      %td Email
      %td
        %div{class: 'input-group input-group'}
          %span.input-group-addon
          = f.text_field :email, class: 'form-control', placeholder: 'Email'
    %tr
      %td About Me
      %td
        %div{class: 'input-group input-group'}
          %span.input-group-addon
          = f.text_area :about_me, class: 'form-control'
    %tr
      %td Username
      %td
        %div{class: 'input-group input-group'}
          %span.input-group-addon
          = f.text_field :username, class: 'form-control', placeholder: 'Username'
    %tr
      %td Password
      %td
        %div{class: 'input-group input-group'}
          %span.input-group-addon
          = f.password_field :password, class: 'form-control', placeholder: 'Password'
    %tr
      %td
      %td= image_tag @current_user.avatar? ? @current_user.avatar.url(:tiny) : '//placehold.it/100x100'
    %tr
      %td Profile Picture
      %td
        %div.text-left
          = f.label 'Profile picture (optional)'
          = f.file_field :avatar, class: 'form-control'
    %tr
      %td &nbsp;
      %td
        #error_messages
    %tr
      %td &nbsp;
      %td= f.submit "Save", class: 'btn btn-primary form-control', id: 'update-user-info'

:javascript
  $('#update-user-info').on('focus', function() {
    $("#error_messages").text("");
  })