.section--container-top#section--carousel-no-bg
  .container
    %h1 Listing users

    %table.table.table-responsive
      %thead
        %tr
          %th Avatar
          %th First name
          %th Last name
          %th Gender
          %th Email
          %th Username
          %th About me
          %th
          %th
          %th
      %tbody
        - @users.each do |user|
          %tr
            %td= image_tag user.avatar.url(:thumb), style: 'margin: 2px;'
            %td= user.first_name
            %td= user.last_name
            %td= user.gender
            %td= user.email
            %td= user.username
            %td= user.about_me
            %td= link_to 'Show', user
            %td=# link_to 'Edit', edit_user_path(user)
            %td=# link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

    %br

    = link_to 'New User', new_user_path
