.section--container-top#section--carousel

  .container

    .col-md-6
      .text--white-on-dark
        %h1.text-title-generic.text-center
          %strong.text-with-shadow Welcome to ScreenShat
        %h4.text-subtitle.text-center
          .text-light.text-with-shadow Capture and Share your screenshot moments. Screenshat is a fast, beautiful and fun way to share your screenshots with friends and loved ones.


          = render 'form'

          =# link_to 'Backds', users_path
