.section--container-top#section--carousel
  -# %div{style: 'position: fixed; margin-top: -50px; background: #FFF; opacity: 0.5; height: 100%; width: 100%;'}
    fd
  .container

    .col-lg-3

      .dashboard--section-container
        .generic-image-container
          = image_tag @user.avatar? ? @user.avatar.url(:medium) : '//placehold.it/250/ffffff/dddddd', class: 'img-width-fit'

        #screencaster= @user.fullname
        %table.table.table-hover
          %tr
            %td Email:
            %td= @user.email
          %tr
            %td Username:
            %td= @user.username.titlecase
          %tr
            %td Gender:
            %td= @user.gender
          %tr
            %td About Me:
            %td= @user.about_me
          %tr
            %td Member Since:
            %td= @user.created_at.to_formatted_s(:short)
          %tr
            %td Posts:
            %td= @user.screenshots.count

    .col-lg-6

      #user-screenshots
        - @user.ordered_screenshot_by_creation.each do |screenshot|
          .dashboard--section-container
            .screenshot-container
              #screenshot-image= image_tag screenshot.image.url, class: 'img-ctr'
              #screenshot-description= screenshot.description
              #screenshot-status
                = link_to "Like", '#'
                = "&nbsp;.&nbsp;".html_safe
                = link_to "Comment", '#'
                = "&nbsp;.&nbsp;".html_safe
                = link_to "Share", '#'
                .pull-right= screenshot.created_at.to_formatted_s(:long)
    .col-lg-3
      .dashboard--section-container
        Advetisements

:javascript
  $('#hide_new_screenshot').hide();
