- if @featured_screenshots.any?
  .section--container#section--featured-screenshots
    .section--spacer
    .container

      .row
        .col-md-12
          .text--dark-on-white
            %h1.text-title-generic.text-center
              %strong.text-with-shadow Featured Screenshots
            %h4.text-subtitle.text-center
              .text-dark.text-with-shadow Lorem ipsum dolor sit amet, consectetuer.
              %br
      .row
        - @featured_screenshots.each do |featured|
          .col-md-4
            .featured-box
              .featured-image-container
                .image-box= image_tag featured.image.url, class: 'img-ctr'
                .screenshot-owner
                  = featured.user.first_name
                  = " "
                  = featured.user.last_name
              .screenshot-detail
                %h4= featured.description
                = link_to "Review Screenshot", "#", class: 'btn btn-lg btn-default'