.section--container#section--how-it-works
  .section--spacer
  .container
    .row
      .text--white-on-dark
        %h1.text-title-generic.text-center
          %strong.text-with-shadow How It Works
        %h4.text-subtitle.text-center
          .text-light.text-with-shadow Lorem ipsum dolor sit amet, consectetuer.
    .row
      %br
        %br
          %br
      .text--white-on-dark
        .col-md-4
          %h2.text-center
            %strong Register / Sign Up
            %br
              %br
            %p.fa.fa-5x.fa-level-up
            %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
        .col-md-4
          %h2.text-center
            %strong Post a Screenshot
            %br
              %br
            %p.fa.fa-5x.fa-camera
            %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        .col-md-4
          %h2.text-center
            %strong Share it with Friends
            %br
              %br
            %p.fa.fa-5x.fa-group
            %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.