.div-transparent
  .text--dark-on-white
    .row
      .col-md-12
        %h3 New to ScreenShat? Sign Up!
        = form_for :user, url: {controller: :users, action: :create} do |f|
          %div{class: 'input-group input-group-lg'}
            %span.input-group-addon
            = f.text_field :first_name, class: 'form-control', placeholder: 'Firstname'
          %div{class: 'input-group input-group-lg'}
            %span.input-group-addon
            = f.text_field :last_name, class: 'form-control', placeholder: 'Lastname'
          %div{class: 'input-group input-group-lg'}
            %span.input-group-addon
            = f.text_field :email, class: 'form-control', placeholder: 'Email'
          %div{class: 'input-group input-group-lg'}
            %span.input-group-addon
            = f.text_field :username, class: 'form-control', placeholder: 'Username'
          %div{class: 'input-group input-group-lg'}
            %span.input-group-addon
            = f.password_field :password, class: 'form-control', placeholder: 'Password'
          %div.pull-right{class: 'btn-group'}
            = f.submit "Sign Up for ScreenShat!", class: 'btn btn-primary btn-lg signup-button'
