// TEXT FORMATTING -- USER DEFINED
.text-with-shadow { text-shadow: 0px 0px 1px rgba(0,0,0,0.2); }

.text-light { color: #f5f5f5; }

.text-dark { color: #262626; }

.text-title-generic { line-height: 28px; }

.text-subtitle { line-height: 20px; }