// General styles

html {
  background: asset_url('bg1.jpg') no-repeat fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

@media screen and (max-width: 500px) {
  html { background: #ce8483; }
}

.navbar {
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}

a {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

a:hover { text-decoration: none; background-color: none; }

.section--container {
  position: relative;
}

.section--container-top {
  top: 0px;
  width: 100%;
  z-index: -2;
}


#section--carousel, #section--how-it-works, #section--featured-screenshots {
  padding-bottom: 20px;
  padding-top: 20px;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
}

#section--carousel {
  padding-top: 70px;
}

#section--carousel-no-bg {
  padding-top: 70px;
  background: linear-gradient(#c6c6c6, #e6e6e6);
}

#section--how-it-works {
  background: asset_url('p1.png');
  z-index: 1;
}

#section--featured-screenshots {
  background: #f5f5f5;
  z-index: 0;
}

#section--footer {
  background: asset_url('black-Linen.png');
  padding-bottom: 0px;
  padding-top: 0px;
}

.section--spacer {
  width: 100%;
  height: 30px;
  background: #FFF;
  margin-top: -20px;
  opacity: 0.1;
  margin-bottom: 30px;
}

.section--sponsors {
  width: 100%;
  height: 100%;
  position: relative;
  background: #000;
  opacity: 0.4;
  padding: 30px 0px;
  a { color: #ac2925; }
}

.text--white-on-dark {
  color: #f5f5f5;
}

.text--dark-on-white {
  color: #444444;
}

.div-transparent {
  background: #f5f5f5;
  margin: 15px;
  opacity: 0.8;
  padding: 15px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
  -o-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
  div {
    margin: 5px 0px;
  }

}

