// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dashboard--section-container {
  background: #f5f5f5;
  opacity: 0.9;
  width: auto;
  height: auto;
  padding: 5px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
  p {
    line-height: 10px;
  }
}

.img-width-fit { width: 100%; }

.generic-image-container {
  width: 100%;
  height: 250px;
  background: #222222;
  overflow: hidden;
}

#screencaster {
  text-align: center;
  font-size: 15pt;
  padding: 10px;
  font-weight: bold;
  line-height: 23px;
}

.dashboard--generic-menu {
  width: 100%;
  position: relative;
  text-align: right;
}

.obj-no-resize { resize: vertical; min-height: 100px; }
.marginized-top { margin-top: 10px; }

.new_screenshot-container {
  width: 100%;
  padding: 0px 10px;
}

.screenshot-container {
  width: 100%;
  min-height: 250px;
  background: #FFF;
}

.account-setting--section-container {
  width: 100%;
  background: #FFF;
  padding: 10px 5px;
  margin: 10px 0px;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
}

#screenshot-image {
  width: 100%;
  height: 200px;
  background: #ac2925;
  overflow: hidden;
}

#screenshot-image .img-ctr { width: 100%; }

#screenshot-description {
  margin: 5px;
}

#account-setting--user {
  margin: 10px;
  padding: 1px;
}

#screenshot-status {
  background: #f5f5f5;
  padding: 4px 2px 0px 2px;
  a:hover { background: none; color: #222222; text-decoration: underline }
}