// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Featured Screenshots
.featured-box {
  background: asset_url('small_steps.png');
  margin: 20px 0px;
  max-height: 500px;
  padding: 5px;
  text-align: center;
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.5);
  -o-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.5);
  border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -webkit-border-radius: 2px;
  .screenshot-detail {
    margin: 10px;
    h3 { font-size: 20pt; }
  }
}

.featured-image-container {
  background: #FFF;
  width: 100%;
  height: 250px;
  .image-box {
    height: 200px;
    background: #222222;
    margin-bottom: 10px;
    overflow: hidden;
  }
  .image-box:hover {
    opacity: 0.8;
  }
  .screenshot-owner {
    font-size: 12pt;
    text-align: center;
    margin: 20px;
  }

}