// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td { padding: 2px 10px; }

#error_messages {
  color: #428bca;
}