.new_screenshot-container
  .form
    .form-group
      = form_for @screenshot, remote: true do |f|
        - if @screenshot.errors.any?
          #error_explanation
            %h2= "#{pluralize(@screenshot.errors.count, "error")} prohibited this screenshot from being saved:"
            %ul
              - @screenshot.errors.full_messages.each do |msg|
                %li= msg

        .text-left= f.label :description
        .input-group
          .input-group-addon
          = f.text_area :description, class: 'form-control obj-no-resize'
        .form-group-inline
          .text-left= f.label :image
          .input-group
            .input-group-addon
            = f.file_field :image, class: 'form-control'

          .actions
            = f.submit 'Save', class: 'btn btn-primary marginized-top', id: 'save-new-screenshot'
