%table.table.table-hover

  - @current_user.screenshots.each do |screenshot|
    %tr
      %td= image_tag screenshot.image.url(:tiny)
      %td= screenshot.description
      %td= screenshot.slug
      %td
        = link_to 'Show', screenshot
        = link_to 'Edit', edit_screenshot_path(screenshot)
        = link_to 'Destroy', screenshot, :method => :delete, :data => { :confirm => 'Are you sure?' }, remote: true