.section--container-top#section--carousel
  .container
    %p#notice= notice

    %p
      %b Description:
      = @screenshot.description
    %p
      %b Image:
      = image_tag @screenshot.image.url(:medium)
    %p
      %b Slug:
      = @screenshot.slug

    = link_to 'Edit', edit_screenshot_path(@screenshot)
    \|
    = link_to 'Back', screenshots_path
    = social_share_button_tag(@screenshot.description, path: screenshot_url(@screenshot), image: @screenshot.image.url, desc: @screenshot.description)
