.section--container#section--footer
  .section--sponsors
    .container
      .text--white-on-dark
        .col-md-4
          .row
            .col-md-6
              %h3.text-right
                %strong About ScreenShat
              .text-right
                %p= link_to 'About Us', '#'
                %p= link_to 'Why Us', '#'
                %p= link_to 'Privacy Policy', '#'
                %p= link_to 'Terms and Conditions', '#'
            .col-md-6
              %h3.text-right
                %strong Help & Support
              .text-right
                %p= link_to 'How It Works', '#'
                %p= link_to 'FAQ', '#'
                %p= link_to 'Others', '#'
        .col-md-4
          %h3.text-center
            %strong Featured On
            .row
              %a{href: '#'}
                %i.fa.fa-4x.fa-windows
              %a{href: '#'}
                %i.fa.fa-4x.fa-linux
              %a{href: '#'}
                %i.fa.fa-4x.fa-apple
        .col-md-4
          %h3.text-center
            %strong Social Media
            .row
              %a{href: '#'}
                %i.fa.fa-2x.fa-facebook-square
              %a{href: '#'}
                %i.fa.fa-2x.fa-twitter-square
              %a{href: '#'}
                %i.fa.fa-2x.fa-instagram
              %a{href: '#'}
                %i.fa.fa-2x.fa-linkedin-square
              %a{href: '#'}
                %i.fa.fa-2x.fa-google-plus-square
  .container
    .row
      .text--white-on-dark

        %h5.text-center Copyright 2014. All 'lefts' reserved.