%nav.navbar.navbar-default.navbar-fixed-top{role: "navigation"}

  .container

    .container-fluid

      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{href: root_path}
          = image_tag 'sample-logo.png', size: '30x30'
          ScreenShat

      / Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        - if !session[:id].present?
          %ul.nav.navbar-nav
            %li
              %a{href: "#section--how-it-works"} How It Works
            %li
              %a{href: "#section--featured-screenshots"} Featured Screenshots

            =# render partial: 'layouts/top_bar_dropdown'

          =# render partial: 'layouts/top_bar_search'

        = render partial: 'layouts/top_bar_login_links'