%ul.nav.navbar-nav.navbar-right
  - if session[:id].present?
    %li= link_to "Welcome, #{@current_user.username.titlecase}!", dashboard_path
    %li= link_to "Account Settings", dashboard_account_setting_path
    %li= link_to 'Logout', { controller: :dashboard, action: :logout }
  - else
    %li= link_to 'Sign In', dashboard_login_path
