%li.dropdown
  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
    Dropdown
    %span.caret
  %ul.dropdown-menu{:role => "menu"}
    %li
      %a{:href => "#"} Action
    %li
      %a{:href => "#"} Another action
    %li
      %a{:href => "#"} Something else here
    %li.divider
    %li
      %a{:href => "#"} Separated link
    %li.divider
    %li
      %a{:href => "#"} One more separated link