!!!
%html
  %head
    %title Screenshat
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    = render partial: 'layouts/top_bar'
    = yield
    = render partial: 'layouts/footer'
